version: "3.8"

services:
  fuseki:
    build: ./jena-fuseki
    image: jena-fuseki:local
    ports:
      - "3030:3030"
    environment:
      - ADMIN_PASSWORD=changeme
    restart: unless-stopped
    volumes:
      - fuseki-data:/fuseki

volumes:
  fuseki-data:
